.calendar-wrapper {
   /* overflow-x: auto;*/
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;

    text-align: center;
    position: relative;
    padding:0;
}

th {
    background-color: #f2f2f2;
}
a.available-link{

    cursor: pointer;
}
span.unavailable-day {
    background-color: #999; /* Grey for unavailable days */

}
a.available-link, span.unavailable-day {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.unit-date {
    color: #555;
    font-weight: bold;
}
.calendar-unit-div{
    display: block;
    height: 35px;
}
.unit-name{
    white-space: nowrap;
    overflow: visible;
    z-index: 1;
    position: relative;
}


.unit-1 { background-color: #74b3de; }
.unit-2 { background-color: #e59289; }
.unit-3 { background-color: #7fd5a3; }
.unit-5 { background-color: #f1bb67; }
a:hover.unit-1 { background-color: #439bd9; }
a:hover.unit-2 { background-color: #dc6052; }
a:hover.unit-3 { background-color: #3ec074; }
a:hover.unit-5 { background-color: #e8a53d; }
.unit-1.pending {
    background: repeating-linear-gradient(
            45deg,
            #999,
            #999 10px,
            rgba(116, 179, 222, 0.84) 10px,
            rgba(116, 179, 222, 0.84)  20px
    );
}
.unit-2.pending {
    background: repeating-linear-gradient(
            45deg,
            #999,
            #999 10px,
            rgba(229, 146, 137, 0.84) 10px,
            rgba(229, 146, 137, 0.84) 20px
    );
}
.unit-3.pending {
    background: repeating-linear-gradient(
            45deg,
            #999,
            #999 10px,
            rgba(127, 213, 163, 0.84) 10px,
            rgba(127, 213, 163, 0.84)20px
    );
}
.unit-5.pending {
    background: repeating-linear-gradient(
            45deg,
            #999,
            #999 10px,
            rgba(241, 187, 103, 0.84) 10px,
            rgba(241, 187, 103, 0.84) 20px
    );
}
.unavailable { background-color: #999; }

.faint-text {
    color: #ccc;
}

/* Add new CSS styles for month dropdown */
#monthDropdown {
    padding: 10px;
    font-size: 14px;
    margin: 0 10px;
}

.availability-calendar {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width:30%;

}

select {
    background-color: #444;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
