
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftColumn {
    float: left;
    width: 75%;
    min-width: 800px;
}
.evenColumns{
    float:left;
    width: calc(50% - 20px);
    margin-left:10px;
    margin-right:10px;
    min-width: 480px;
}
.midColumn{
    margin:0 auto;
    width: 75%;
}
/* Right column */
.rightColumn {
    float: left;
    width: 25%;

    padding-left: 20px;
}
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .leftColumn, .rightColumn,.evenColumns,.midColumn {
        width: 100%;
        padding: 0;
        margin-left: 0;
        min-width: 100%;
    }
    .container{
        min-width: 100%;
        padding:0;
    }
}
@media screen and (max-width: 500px)
{
    .card {
        padding: 10px;
    }
}
@media screen and (max-width: 360px)
{
    .header{padding-left: 0;padding-right: 0;}
    .card {
        padding: 7px;
        margin-top: 15px;
    }
}