.calendar {

    padding: 0 20px 10px;
    float: right;
    width: 100%;
    margin-top: 6px;
    display: block;

}
.calendar-header {
    padding: 0;
    margin: 0;
width: 100%;
    text-align: center;
    align-items: center;
position: relative;
}

.prev-month, .next-month {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 8px 30px;
    margin:0;
    height:100%;
    color: white;
    font-weight: bold;
    font-size: 19px;
    user-select: none;
    background-color: rgba(0,0,0,0.8);

}
/* Position the "next button" to the right */
.next-month {
    right: 0;
}
.prev-month{
    left:0;
}
.calendar-month{
    width: 100%;
    display: block;
    text-align: center;
    background-color: #03b0d8;
    padding: 10px 20px;
    position: relative;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-day {
    padding: 10px 9px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
.calendar-day.weekend {
    background-color: #f0f0f0; /* Light gray background for weekends */
}
.calendar-day.weekend.selected,.selected{
    background-color: lightblue;
}
.disabled {
    pointer-events: none;
    color: #ccc;
}
.no-pointer{
    cursor: default;
}
@media screen and (max-width: 800px) {
    .calendar {
        width: 100%;
        padding:0;
    }
}