body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    padding: 10px;
    text-align: center;
    color: #fff;
}

.banner {
    text-align: left;
}

.banner img {
    height: 100px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

main {
  /*  padding: 20px;*/
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftColumn {
    float: left;
    width: 75%;
    min-width: 800px;
}
.evenColumns{
    float:left;
    width: calc(50% - 20px);
    margin-left:10px;
    margin-right:10px;
    min-width: 480px;
}
.midColumn{
    margin:0 auto;
    width: 75%;
}
/* Right column */
.rightColumn {
    float: left;
    width: 25%;

    padding-left: 20px;
}
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Header/ Title */
.header {
    padding: 10px;
    text-align: center;
    background: #03b0d8;
    margin: 0px;
    color: #333;
}

.g-recaptcha {
    display: inline-block;
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin: 5px 0;
    }

    .banner img {
        width: 100%; /* Make the image responsive within the container */
        height: auto;
    }
}